h2 {
    text-align: center;
}
.play-choices {
    width: 1000px;
    height: 500px;
    border: 1px solid red;
    text-align: center;
}
.play-choices button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}